<div class="chat-page">

  <div class="chat-container">

    @if(conversations().length > 0) {
    <!-- LEFT PANEL -->
    <aside class="chat-list" [class.hide]="selectedChat() && isMobile">

      <div class="search-box">
        <input type="search" placeholder="Search chats..." />
      </div>

      <div class="chat-items">
        @for (user of conversations(); track user.id) {
        <div class="chat-item" (click)="selectChat(user)" [class.active]="selectedChat()?.id === user?.id">

          <div class="avatar">
            {{ user.name.charAt(0) }}
            @if(user.isOnline) {
            <span class="status online"></span>
            }
          </div>

          <div class="info">
            <div class="top">
              <span class="name">{{ user.name }}</span>
              <span class="time">
                {{ user.time | date: 'shortTime' }}
              </span>
            </div>

            <div class="bottom">
              @if(user.isTyping) {
              <div class="status-text typing">Typing...</div>
              } @else {
              <span class="message">
                {{ user.lastMessage || 'Start conversation...' }}
              </span>
              }

              @if (user.unreadCount > 0) {
              <span class="badge">{{ user.unreadCount }}</span>
              }
            </div>
          </div>

        </div>
        }
      </div>

      <div class="add-chat" (click)="openContacts()">
        <button class="btn primary">
          + New Chat
        </button>
      </div>

    </aside>
    }

    <!-- RIGHT PANEL -->
    <section class="chat-window" [class.active]="selectedChat()">

      @if(conversations().length === 0) {
      <div class="empty-state">
        <h2 class="empty-state-header">No conversations yet 👋</h2>
        <p>Start chatting with people or create a group</p>
        <div class="buttons-container">
          <button class="btn primary" (click)="openContacts()">Start Chat</button>
          <button class="btn secondary" (click)="openCreateGroup()">Create Group</button>
        </div>
      </div>
      } @else {
      @if(selectedChat()) {

      <!-- HEADER -->
      <div class="chat-header">

        <div class="header-info">
          <div class="avatar">
            {{ selectedChat().name.charAt(0) }}
            @if(selectedChat().isOnline) {
            <span class="status online"></span>
            }

          </div>

          <div class="user-info">
            <div class="name">{{ selectedChat().name }}</div>

            @if (selectedChat()?.isTyping) {
            <div class="status-text typing">Typing...</div>
            } @else if (selectedChat()?.isOnline) {
            <div class="status-text online">Online</div>
            } @else {
            <div class="status-text offline"></div>
            }

          </div>
        </div>

        <button class="back-btn" (click)="selectedChat.set(null)">
          Back
        </button>

      </div>

      <!-- MESSAGES -->
      <div class="chat-messages">

        @if(messages().length === 0) {
        <div class="empty-state">
          Start conversation 👋
        </div>
        } @else {
        @for (msg of messages(); track msg._id) {

        <div class="message" [class.sent]="msg.senderId === currentUserId"
          [class.received]="msg.senderId !== currentUserId">

          <div class="bubble">

            <span class="text">{{ msg.content }}</span>

            <!-- ticks -->
            @if(msg.senderId === currentUserId) {
            <span class="ticks" [ngClass]="msg.status">
              <span class="tick tick-1">✓</span>
              <span class="tick tick-2">✓</span>
            </span>
            }

          </div>

          <!-- time outside -->
          <div class="msg-time">
            {{ msg.createdAt | date:'shortTime' }}
          </div>

        </div>

        }
        }

      </div>

      <!-- INPUT -->
      <div class="chat-input">

        <div class="input-wrapper">

          <button class="icon-btn">
            <img src="assets/attachment.svg">
          </button>

          <input type="text" placeholder="Type a message..." [(ngModel)]="newMessage" (input)="onTyping()">

          <button class="icon-btn send" (click)="onSendMessage()">
            <img src="assets/telegram.png">
          </button>

        </div>

      </div>

      } @else {
      <div class="empty-state">
        Select a chat to start messaging 👋
      </div>
      }
      }

    </section>

  </div>
</div>