<div class="sidenav">
  <div class="sidenav__logo">
    <h2>Tech Hub</h2>
    <span class="close-icon" [class.show]="isMobile" (click)="closeSidenav()">
      <img src="assets/close.svg" alt="Close">
    </span>
  </div>

  <div class="sidenav__menu">
    <div class="menu">
      <div class="menu__item" routerLink="/chats" routerLinkActive="active" (click)="isMobile ? closeSidenav() : null">
        <span class="menu__icon"><img src="assets/chats.png" alt="Chats"></span>
        <span class="menu__label">Chats</span>
      </div>

      <div class="menu__item" routerLink="/groups" routerLinkActive="active"  (click)="isMobile ? closeSidenav() : null">
        <span class="menu__icon"><img src="assets/users.svg" alt="Users"></span>
        <span class="menu__label">Groups</span>
      </div>

      <div class="menu__item" routerLink="/invites" routerLinkActive="active" (click)="isMobile ? closeSidenav() : null">
        <span class="menu__icon"><img src="assets/invitation.png" alt="Users"></span>
        <span class="menu__label">Requests</span>
      </div>

      <div class="menu__item" routerLink="/contacts" routerLinkActive="active" (click)="isMobile ? closeSidenav() : null">
        <span class="menu__icon"><img src="assets/members.png" alt="Users"></span>
        <span class="menu__label">Contacts</span>
      </div>

      <div class="menu__item" routerLink="/profile" routerLinkActive="active" (click)="isMobile ? closeSidenav() : null">
        <span class="menu__icon"><img src="assets/avatar.svg" alt="Workspaces"></span>
        <span class="menu__label">Profile</span>
      </div>

      <div class="menu__item" routerLink="/settings" routerLinkActive="active" (click)="isMobile ? closeSidenav() : null">
        <span class="menu__icon"><img src="assets/settings.svg" alt="Settings"></span>
        <span class="menu__label">Settings</span>
      </div>
    </div>

    <!-- <div class="workspace-switcher">

      <div class="select-box" (click)="toggleWorkspaceDropdown()">
        <span>{{ selectedWorkspace || 'Select Workspace' }}</span>
        <span class="arrow"><img src="assets/chevron-down.svg" alt="Chevron Down"></span>

        @if(workspaceDropdownOpen) {
        <div class="dropdown">
          @for (workspace of workspaces; track workspace.id) {
          <div class="dropdown-item" (click)="selectWorkspace(workspace, $event)"
            [class.selected]="selectedWorkspace === workspace.name">
            {{ workspace.name }}
          </div>
          }
        </div>
        }
      </div>
    </div> -->
  </div>
</div>