<div class="sidenav">
  <div class="sidenav__logo">
    <h2>Tech Hub</h2>
    <span class="close-icon"><img src="assets/close.svg" alt="Close"></span>
  </div>

  <div class="sidenav__menu">
    <div class="menu">
      <div class="menu__item" routerLink="/dashboard/chats" routerLinkActive="active">
        <span class="menu__icon"><img src="assets/chats.png" alt="Chats"></span>
        <span class="menu__label">Chats</span>
      </div>

      <div class="menu__item" routerLink="/dashboard/groups" routerLinkActive="active">
        <span class="menu__icon"><img src="assets/users.svg" alt="Users"></span>
        <span class="menu__label">Groups</span>
      </div>

      <div class="menu__item" routerLink="/dashboard/settings" routerLinkActive="active">
        <span class="menu__icon"><img src="assets/settings.svg" alt="Settings"></span>
        <span class="menu__label">Settings</span>
      </div>

      <div class="menu__item" routerLink="/dashboard/workspaces" routerLinkActive="active">
        <span class="menu__icon"><img src="assets/workspace.png" alt="Workspaces"></span>
        <span class="menu__label">Workspaces</span>
      </div>
    </div>

    <div class="workspace-switcher">

      <div class="select-box" (click)="toggleWorkspaceDropdown()">
        <span>{{ selectedWorkspace || 'Select Workspace' }}</span>
        <span class="arrow"><img src="assets/chevron-down.svg" alt="Chevron Down"></span>

        @if(workspaceDropdownOpen) {
        <div class="dropdown">
          @for (workspace of workspaces; track workspace.id) {
          <div class="dropdown-item" (click)="selectWorkspace(workspace, $event)" [class.selected]="selectedWorkspace === workspace.name">
            {{ workspace.name }}
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>