<div class="modal-backdrop" (click)="close()"></div>
<div class="modal">
    <form [formGroup]="form" (ngSubmit)="save()">
        <h3>Invite Member</h3>

        <div class="form-field">
            <label for="name">Email</label>
            <input placeholder="Email" formControlName="email" type="email" />
            @if(fc['email']?.dirty || fc['email']?.touched) {
            <div class="validation-error-message">
                @if(fc['email']?.errors?.['required']) {
                Email is required
                }
                @if(fc['email']?.errors?.['pattern']) {
                Email format is invalid
                }
            </div>
            }
        </div>

        <div class="form-field">
            <label for="contact">Contact</label>
            <input placeholder="Contact" formControlName="contact" type="text" />
            @if(fc['contact']?.dirty || fc['contact']?.touched) {
            <div class="validation-error-message">
                @if(fc['contact']?.errors?.['required']) {
                Contact is required
                }
            </div>
            }
        </div>

        <div class="modal-actions">
            <button (click)="save()" class="btn btn-primary" type="button">
                Invite</button>
            <button (click)="close()" class="btn btn-danger" type="button">
                No
            </button>
        </div>
    </form>
</div>