<div class="invites-container">

  <!-- HEADER -->
  <div class="header">
    <div class="header-left">
      <h2>Invites</h2>
    </div>
  </div>

  <!-- TABS -->
  <div class="tabs">

    <div class="tab" [class.active]="activeTab === 'sent'" (click)="activeTab = 'sent'">
      Sent ({{ sentInvites().length }})
    </div>

    <div class="tab" [class.active]="activeTab === 'received'" (click)="activeTab = 'received'">
      Received ({{ receivedInvites().length }})
    </div>
  </div>

  <div class="content">

    <!--Received Invites -->
    @if (activeTab === 'received') {
    @if (receivedInvites().length === 0) {
    <div class="empty-state">
      <p>No invitations yet.</p>
    </div>
    } @else {
    <div class="invite-list">

      @for (invite of receivedInvites(); track invite._id) {

      <div class="invite-card">

        <!-- LEFT SECTION -->
        <div class="invite-left">

          <div class="invite-header">
            <div class="workspace-icon">
              {{ invite.invitedBy.name.charAt(0) }}
            </div>

            <div>
              <div class="workspace-name">
                {{ invite.invitedBy.name }}
              </div>
            </div>
          </div>

          <div class="invite-body">
            <div class="info-row">
              <span class="label">Invited by: </span>
              <span class="value">{{ invite.invitedBy.name }}</span>
            </div>

            <div class="info-row">
              <span class="label">Email: </span>
              <span class="value">{{ invite.invitedBy.email }}</span>
            </div>

            <div class="info-row">
              <span class="label">Contact: </span>
              <span class="value">{{ invite.invitedBy.contact }}</span>
            </div>
          </div>

        </div>

        <!-- RIGHT SECTION -->
        <div class="invite-action" (click)="$event.stopPropagation()">

          @if (invite.status === 'accepted') {

          <span class="status accepted">Accepted</span>

          } @else if (invite.status === 'rejected') {

          <span class="status rejected">Declined</span>

          } @else {
            <span class="status pending">Pending</span>
          }

        </div>

      </div>

      }
    </div>
    }
    }

    <!--Sent Invites -->
    @if (activeTab === 'sent') {
    @if (sentInvites().length === 0) {
    <div class="empty-state">
      <h3>No invitations yet</h3>
    </div>
    } @else {
    <div class="invite-list">
      @for (invite of sentInvites(); track invite._id) {

      <div class="invite-card">

        <!-- LEFT SECTION -->
        <div class="invite-left">

          <!-- <div class="invite-header">
            <div class="workspace-icon">
              {{ invite.invitedBy.name.charAt(0) }}
            </div>

            <div>
              <div class="workspace-name">
                {{ invite.invitedBy.name }}
              </div>
            </div>
          </div> -->

          <div class="invite-body">
            <div class="info-row">
              <span class="label">To: </span>
              <span class="value">{{ invite.email }}</span>
            </div>
            <div class="info-row">
              <span class="label">Contact: </span>
              <span class="value">{{ invite.contact }}</span>
            </div>
          </div>

        </div>

        <!-- RIGHT SECTION -->
        <div class="invite-action">

         @if (invite.status === 'accepted') {

          <span class="status accepted">Accepted</span>

          } @else if (invite.status === 'rejected') {

          <span class="status rejected">Declined</span>

          } @else {
            <span class="status pending">Pending</span>
          }

        </div>

      </div>

      }
    </div>
    }
    }

  </div>
</div>