<div class="top-bar">
    <div class="top-bar__left">
        <img src="assets/menu.svg" alt="Toggle Icon" class="toggle-icon">
    </div>
    <div class="top-bar__right">
        <div class="user-info">
            <img src="assets/avatar.svg" alt="User Avatar" class="user-avatar">
        </div>
        <div class="notifications">
            <img src="assets/bell.svg" alt="Notifications">
            <span class="notification-count">10</span>
        </div>
        <div class="logout">
            <img src="assets/logout.svg" alt="Logout">  
        </div>
    </div>
</div>