<div class="workspace-page">

  <!-- LEFT -->
  <aside class="workspace-sidebar">

    <div class="sidebar-header">
      <h3>Workspaces</h3>
      <button class="add-btn" (click)="createWorkspace()">+</button>
    </div>

    <div class="workspace-list">
      @for (workspace of workspaces; track workspace.workspace_id) {
        <div class="workspace-item"
             (click)="selectWorkspace(workspace)"
             [class.active]="selectedWorkSpace.workspace_id === workspace.workspace_id">

          <span>{{ workspace.name }}</span>

          <div class="actions">
            <button (click)="editWorkspace($event, workspace)">✏️</button>
            <button (click)="deleteWorkspace($event, workspace)">🗑</button>
          </div>

        </div>
      }
    </div>

  </aside>

  <!-- RIGHT -->
  <main class="workspace-content">

    <!-- HEADER -->
    <div class="content-header">
      <div>
        <h2>{{ selectedWorkSpace.name }}</h2>
        <p>{{ selectedWorkSpaceMembers.length }} members</p>
      </div>

      <button class="invite-btn" (click)="inviteMember()">
        + Invite Member
      </button>
    </div>

    <!-- MEMBERS -->
    <div class="members-grid">

      @if (selectedWorkSpaceMembers.length === 0) {
        <div class="empty">No members yet Invite one now!</div>
      } @else {

        @for (member of selectedWorkSpaceMembers; track member.user_id) {

          <div class="member-card">

            <div class="avatar">
              {{ member.name[0] }}
            </div>

            <div class="info">
              <div class="name">{{ member.name }}</div>
              <div class="email">{{ member.email }}</div>
            </div>

            <div class="meta">
              <span class="role"
                [ngClass]="member.role.toLowerCase()">
                {{ member.role }}
              </span>

              <span class="status"
                [ngClass]="member.status.toLowerCase()">
                {{ member.status }}
              </span>
            </div>

            <div class="card-actions">
              <button (click)="editMember(member)">✏️</button>
              <button (click)="removeMember(member)">🗑</button>
            </div>

          </div>

        }

      }

    </div>

  </main>

</div>