/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: #6366f1;
  --primary-color-dark: #3f3fff;
  --primary-color-light: #edeeff;
  --secondary-color: #9ca3af;

  --background-color: #f5f7fb;
  --white: #ffffff;
  --divider: #f0f0f0;
  --border: #e5e7eb;

  --primary-text-color: #1f2937;
  --secondary-text-color: #6b7280;
  --placeholder-color: #9ca3af;

  --status-success: #6ae68e;
  --status-error: #f13f3f;
  --online-indicator: #22c55e;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--background-color);
  color: var(--primary-text-color);
  height: 100vh;
  padding: 0;
  margin: 0;
}

// .modal-backdrop {
//   position: fixed;
//   inset: 0;
//   background: rgba(0, 0, 0, 0.4);
//   z-index: 1000;
// }

// .modal {
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background: white;
//   padding: 20px;
//   border-radius: 12px;
//   width: 320px;
//   z-index: 1001;
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
// }

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  backdrop-filter: blur(2px); // 🔥 modern look
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 90%;
  padding: 22px;
  max-width: 420px;        // desktop limit
  z-index: 1000;

  background: #fff;
  border-radius: 12px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.modal {
  animation: slideUp 0.25s ease;
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}


h3 {
  margin: 0;
}

.create {
  color: #1f2937;
}

.edit {
  color: #1d4ed8; // subtle blue
}

.delete {
  color: #dc2626; // soft red (danger)
}

.form-field {
  margin-bottom: 18px;
}

.form-field label,
.label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--border);
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.form-field input:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.1);
}

.custom-select {
  border: 3px solid var(--divider);
  padding: 12px 10px;
  border-radius: 10px;
  position: relative;
  background: var(--white);
  font-size: 14px;
  cursor: pointer;
  display: flex;
  margin-bottom: 32px;
  justify-content: space-between;

  .arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%) rotate(-360deg);
  }

  .arrow.rotate {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.dropdown {
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background: var(--white);
  border: 1px solid var(--divider);
  border-radius: 10px;
  margin-top: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

  &::-webkit-scrollbar {
    display: none;
  }

  .dropdown-item {
    padding: 12px 18px;
    cursor: pointer;
    transition: background 0.2s ease;
    border-bottom: 1px solid var(--divider);

    &:hover {
      background: var(--primary-color-light);
    }
  }
}

.selected {
  background: var(--primary-color-light);
}

.custom-error {
  position: absolute;
  top: 97%;
  left: 0;
  margin-top: 8px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 3rem;
}

.hidden {
  display: none;
}

.loading-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.2s ease-in;
}

.loader-container {
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: var(--white);
}

.loader {
    width: 40px;
    height: 40px;
    padding: 22px;
    border: 5px dashed rgba(0,0,0,0.1);
    border-top: 5px dashed var(--primary-color);
    border-bottom: 5px dashed var(--primary-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.loader-text {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}